<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Bootstrap and FontAwesome -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        /* Your custom styles */
    </style>
</head>
<body>
<div th:replace="/fragments/header :: header"></div>

<div class="container mt-5">
    <!-- Post Details -->
    <div class="post-detail" th:if="${post != null}">
        <h2 class="h3 mb-4" th:text="${post.title}">Title</h2>
        <p th:text="${#strings.replace(post.content, '<[^>]*>', '')}" class="text-muted">Body text</p>

        <div>
            <h3>Comments</h3>
            <div th:each="comment : ${post.comments}">
                <p>
                    <strong th:text="${comment.username}">Username</strong>: 
                    <span th:text="${comment.content}">Comment Content</span>
                </p>
            </div>
        </div>

        <!-- Comment Form -->
        <div class="container align-center my-5">
            <div class="card shadow-lg p-4">
                <h2 class="text-center mb-4">Leave a Comment</h2>
                <form th:action="@{/posts/{postId}/comment(postId=${post.id})}" th:object="${commentDto}" method="post">
                    <div class="form-group">
                        <label for="commentContent">Comment</label>
                        <textarea id="commentContent" class="form-control" th:field="*{content}" placeholder="Write your comment here..." required></textarea>
                    </div>
                    <input type="hidden" th:field="*{postId}" th:value="${post.id}" />
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Submit Comment</button>
                    </div>
                </form>
            </div>
        </div>
        
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
