body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.navbar-custom {
    background: linear-gradient(to right, #5a3d78, #2a5298); /* Gradient background */
    border-bottom: 3px solid #ffffff;
    padding: 10px 20px;
}
.navbar-custom .navbar-brand {
    display: flex;
    align-items: center;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.75rem;
}
.navbar-custom .navbar-brand i {
    margin-right: 10px;
}
.navbar-custom .nav-link {
    color: #ffffff;
    font-size: 1.125rem;
}
.navbar-custom .nav-link:hover {
    color: #d3d3d3;
}
.navbar-custom .nav-item .signup-btn {
    border-radius: 50px;
    background-color: #ff5722;
    color: #ffffff;
    padding: 5px 20px;
    margin-right: 10px;
}
.navbar-custom .navbar-nav .nav-item.centered-item {
    flex: 1;
    display: flex;
    justify-content: center;
    border:1px solid black;
}
.navbar-custom .navbar-nav .nav-item.right-item {
    display: flex;
    margin-left: auto;
}