<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head :: head"></head>

<body>

<div th:replace="/fragments/header :: header"></div>

<div class="container">

    <div th:replace="/fragments/posts :: posts(posts=${posts})"></div>

</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.all.min.js"></script>
<script type="text/javascript">
    const urlParams = new URLSearchParams(window.location.search);
    
    if (urlParams.has('success')) {
        console.log("yes");
        Swal.fire({
            title: 'Success!',
            text: 'Almost there! We have sent you an email with the home page link.',
            icon: 'success',
            timerProgressBar: true,
            showClass: {
                popup: 'animate__animated animate__fadeInDown'
            },
            hideClass: {
                popup: 'animate__animated animate__fadeOutUp'
            }
        }).then((result) => {
            if (result.isConfirmed || result.isDismissed) {
                // Send the email when the popup is closed
                const username = localStorage.getItem('user_name');
                console.log(username);
                if (username) {
                    sendEmail(username);
                } else {
                    console.error('Username not found');
                }
            }
        });
    }

    function sendEmail(username) {
        fetch('/send-email', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                username: username // Replace with actual username if needed
            })
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            console.log('Email sent successfully:', data);
        })
        .catch(error => {
            console.error('Error sending email:', error);
        });
    }
</script>
</body>
</html>
