<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Post</title>
</head>
<body>

    <div th:replace="fragments/header :: header"></div>

    <div class="container mt-5">
        <form th:action="@{${post.id} != null ? '/posts/' + ${post.id} + '/edit' : '/posts/new'}" th:object="${post}" method="post">
            <!-- Bootstrap Heading -->
            <h2 class="mb-4 text-center" th:text="${post.id} != null ? 'Edit Post' : 'Create New Post'"></h2>
            <div class="form-group">
                <label for="title">
                    Title
                    <div class="subheading">Give your post an eye-catching title.</div>
                    <div class="alert-red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title Error</div>
                    <input type="text" id="title" th:field="*{title}" class="form-control" placeholder="Title" required/>
                </label>
            </div>
            <div class="form-group">
                <label for="content">
                    Content
                    <div class="subheading">Share your thoughts, ideas, or updates.</div>
                    <div class="alert-red" th:if="${#fields.hasErrors('content')}" th:errors="*{content}">Content Error</div>
                    <textarea id="content" th:field="*{content}" class="form-control" placeholder="Share your thoughts" required></textarea>
                </label>
            </div>
            <!-- Hidden input to include userId, if necessary -->
            <input type="hidden" name="userId" value="1"/> <!-- Replace '1' with the actual user ID -->
            <div class="float-left">
                <button class="btn btn-success" type="submit" th:text="${post.id} != null ? 'Update' : 'Send'"></button>
            </div>
        </form>
    </div>

    <script type="text/javascript" th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/richtext/jquery.richtext.min.js}"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.all.min.js"></script>
   

    <script type="text/javascript">
        if (typeof jQuery !== 'undefined') {
            $(document).ready(function() {
                $('#content').richText();
            });
        } else {
            console.error('jQuery is not loaded');
        }
    </script>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">

</body>
</html>
